body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}
.container {
  height: 100vh;
  width: 75ch;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#box {
  height: 200px;
  width: 250px;
  background-color: red;
}

input[type="range"] {
  position: absolute;
}
#top {
  top: 20px;
  left: 50%;
}
#right {
  right: 0px;
  rotate: 90deg;
}
#bottom {
  bottom: 0px;
}
#left {
  left: 0px;
  rotate: 90deg;
}
